html, body, header {
  height: 100%;
}


body {
  position: relative;
  /*For scrollspy*/
  background-color: rgb(238, 238, 238);
}

header {
  background-image:url('../img/backgroundIMG-1.jpg');
  background-repeat:no-repeat;
  background-size:cover;
}

.active {
  font-weight: bold;
}

header {
  padding-top: 25%;
}

header a span {
  margin-top: 10%;
}

header .fa {
  color: rgb(238, 238, 238);
  border:
}

/*.container {
  background-color: rgb(238, 238, 238);
}*/

section {
  padding-top: 72px;
  padding-left: 6em;
  padding-right: 6em;
  /*height: 500px;*/
  /*font-family: 'Hoefler Text', Garamond, Times, serif;*/
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}

section .section-title {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

section hr {
  margin-bottom: 4em;
}

section p, section .section-subtitle {
  color: rgb(130, 130, 130);
}

section p {
  margin-bottom: 2em;
}

hr {
    border: none;
    height: 2px;
    width: 6em;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

footer {
  padding: 1em 0 1em 0;
  background-color: rgb(30, 31, 35);
  color: rgb(130, 130, 130);
}



footer .mysocial {
  margin-top: 1em;
  margin-bottom: 1em;
}

footer .fa {
  color: rgb(238, 238, 238);
}

footer .mysocial .fa-linkedin-square {
  margin-left: 5px;
  margin-right: 5px;
}

footer p span {
  color: red;
}

/*
A Bootstrap 3.1 affix sidebar template
from http://bootply.com

This CSS code should follow the 'bootstrap.css'
in your HTML file.

license: MIT
author: bootply.com
*/

/*#masthead {
 min-height:250px;
}

#masthead h1 {
 font-size: 30px;
 line-height: 1;
 padding-top:20px;
}

#masthead .well {
 margin-top:8%;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 50px;
  }
}

.navbar-bright {
 background-color:#111155;
 color:#fff;
}

.affix-top,.affix{
 position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:30px;
  	width:228px;
  }

  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}

#sidebar li.active {
  border:0 #eee solid;
  border-right-width:5px;
}*/
