html, body, header {
  height: 100%;
}

body {
  position: relative;
  /*For scrollspy*/
  background-color: $tertiary-gray;

  @include mq-xxs-down {
    font-size: 12px;
  }
}

.bookitem-section .bookitem-section-bg .bookdescription-section .btn {
  @include mq-xs-down {
    font-size: 8px;
    padding: 3px 6px;
  }
}

h1, h2, h3, h4, h5, h6 {
  // @include hyphens(auto);
  hyphens: auto;
}

h1 {
  @include mq-xs-down {
    font-size: 28px;
  }
}

h2 {
  @include mq-xs-down {
    font-size: 24px;
  }
}

h3 {
  @include mq-xs-down {
    font-size: 20px;
  }
}

h4 {
  @include mq-xs-down {
    font-size: 16px;
  }
}

header {
  background-image:url('../dist/responsiveImg/Background/backgroundIMG-1-original.jpg');
  @include mq-xxs-down {
    background-image:url('../dist/responsiveImg/Background/backgroundIMG-1-330px.jpg');
  }
  @include mq-xxs {
    background-image:url('../dist/responsiveImg/Background/backgroundIMG-1-480px.jpg');
  }
  @include mq-xs {
    background-image:url('../dist/responsiveImg/Background/backgroundIMG-1-768px.jpg');
  }
  @include mq-small {
    background-image:url('../dist/responsiveImg/Background/backgroundIMG-1-992px.jpg');
  }
  @include mq-medium {
    background-image:url('../dist/responsiveImg/Background/backgroundIMG-1-1200px.jpg');
  }
  @include mq-large-up {
    background-image:url('../dist/responsiveImg/Background/backgroundIMG-1-1920px.jpg');
  }
  @include mq-xxs-down-retina {
    background-image:url('../dist/responsiveImg/Background/backgroundIMG-1-330px@2x.jpg');
  }
  @include mq-xxs-retina {
    background-image:url('../dist/responsiveImg/Background/backgroundIMG-1-480px@2x.jpg');
  }
  @include mq-xs-retina {
    background-image:url('../dist/responsiveImg/Background/backgroundIMG-1-768px@2x.jpg');
  }
  @include mq-small-retina {
    background-image:url('../dist/responsiveImg/Background/backgroundIMG-1-992px@2x.jpg');
  }
  @include mq-medium-retina {
    background-image:url('../dist/responsiveImg/Background/backgroundIMG-1-1200px@2x.jpg');
  }
  @include mq-large-up-retina {
    background-image:url('../dist/responsiveImg/Background/backgroundIMG-1-original.jpg');
  }

  background-repeat:no-repeat;
  background-size:cover;
}

.active {
  font-weight: bold;
}

header {
  padding-top: 25%;
  @include mq-xs-down {
    padding-top: 60%;
  }
}

header a span {
  margin-top: 10%;
}

header .fa {
  color: $tertiary-gray;
}

section {
  padding-top: $navbar-height;
  padding-left: $base-gap;
  padding-right: $base-gap;
  font-family: $body-font;
  @include mq-xs-down {
    padding-left: 0;
    padding-right: 0;
  }
  @include mq-xs {
    padding-left: $secondary-gap;
    padding-right: $secondary-gap;
  }
}

section .section-title, section .edu-title, .project-title {
  font-family: $headline-font;
}

section hr {
  margin-bottom: $primary-gap;
}

section p, section .section-subtitle {
  color: $base-gray;
}

section p {
  margin-bottom: $secondary-gap;
}

hr {
    border: none;
    height: 2px;
    width: 6em;
    /* Set the hr color */
    color: $primary-dark; /* old IE */
    background-color: $primary-dark; /* Modern Browsers */
}

.progress {
  position: relative;
}

.progress span {
  position: absolute;
  left: $tertiary-gap;
  font-family: $headline-font;
}

.education .education-row {
  // @include display(flex);
  display: flex;
  // @include flex-wrap(wrap);
  flex-wrap: wrap;
  @include mq-xs-down {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.education .education-row .education-section {
  // @include flex(1 1 465px);
  flex: 1 1 465px;
  @include mq-xs-down {
    // @include flex(1 1 auto);
    flex: 1 1 auto;
  }
  @include mq-xs-down {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.education .education-row .education-section {
  // @include display(flex);
  display: flex;
  margin-bottom: $tertiary-gap;
}

.education .education-row .education-section .text-section {
  // @include flex(1 1 165px);
  flex: 1 1 165px;
  @include mq-xs-down {
    // @include flex(1 1 130px);
    flex: 1 1 130px;
  }
  @include mq-xxs-down {
    // @include flex(1 1 100px);
    flex: 1 1 100px;
  }
  color: $secondary-gray;
  background-color: $base-dark;
  padding: $tertiary-gap;
  @include left-side-rounded($primary-radius);
  // border-radius: $left-side-rounded;
}

.education .education-row .education-section figure {
  // @include flex(1);
  flex: 1;
}

.education .education-row .education-section .left-text-section {
  @include left-side-rounded($primary-radius);
  // border-radius: $left-side-rounded;
}

.education .education-row .education-section .left-img-section {
  @include left-side-rounded($primary-radius);
  // border-radius: $left-side-rounded;
}

.education .education-row .education-section .right-text-section {
  @include right-side-rounded($primary-radius);
  // border-radius: $right-side-rounded;
}

.education .education-row .education-section .right-img-section {
  @include right-side-rounded($primary-radius);
  // border-radius: $right-side-rounded;
}

.education .education-row .education-section figure {
  background-color: $base-light;
  padding: $tertiary-gap;
}

.education .education-row .education-section figure img {
  width: 250px;
  height: 150px;
  @include mq-xs-down {
    width: 180px;
    height: 125px;
  }
  @include mq-xxs-down {
    width: 125px;
    height: 85px;
  }
  overflow: hidden;
}

.education .time-duration {
  color: $primary-gray;
  font-weight: bold;
}

.education-row .bookitem-section {
  // @include display(flex);
  display: flex;
  margin-bottom: $tertiary-gap;
  @include mq-xs-down {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.education-row .bookitem-section figure img {
  @include top-side-rounded($primary-radius);
  // border-radius: $top-side-rounded;
}

.education-row .bookitem-section .bookitem-section-bg {
  // @include display(flex);
  display: flex;
  // @include flex-direction(column);
  flex-direction: column;
  background-color: $base-dark;
  border-radius: $primary-radius;
}

.education-row .bookitem-section .bookitem-section-bg .bookdescription-section {
  /*margin-top: auto;*/
  // @include display(flex);
  display: flex;
  // @include flex-direction(column);
  flex-direction: column;
  // @include justify-content(space-between);
  justify-content: space-between;
  // @include flex(1);
  flex: 1;
  padding: $tertiary-gap;
}

/*.education-row .bookitem-section .bookitem-section-bg .bookdescription-section p:last-of-type {
  margin-top: auto;
}*/

.education-row .bookitem-section .bookitem-section-bg .bookdescription-section p {
  margin-bottom: 0;
}

.project-title {
  font-weight: bold;
}

/*.col-lg-2 {
  font-size: 6px;
}*/

/*.education-row div:nth-of-type(1n+2) {
  margin-left: 1em;
}*/

section:last-of-type {
  height: 500px;
  margin-bottom: 20%;
}


footer {
  padding: $tertiary-gap 0 $tertiary-gap 0;
  background-color: $base-dark;
  color: $base-gray;
}

footer .mysocial-container {
  // @include display(flex);
  display: flex;
  // @include flex-wrap(wrap);
  flex-wrap: wrap;
}

footer .mysocial-container div {
  // @include display(flex);
  display: flex;
  // @include flex-direction(column);
  flex-direction: column;
  // @include justify-content(space-between);
  justify-content: space-between;
  // @include flex(1);
  flex: 1;
  padding: $tertiary-gap;
}

footer .mysocial-container div img {
  width: 100px;
  height: 100px;
  margin-bottom: $tertiary-gap;
}

footer .fa {
  color: $tertiary-gray;
}
